POSTGRES_PASSWORD=              # database admin user password

PGADMIN_DEFAULT_EMAIL=          # this should be your email - log into pgadmin with it
PGADMIN_DEFAULT_PASSWORD=       # this password you can set to whatever you want

# -- OPTIONAL --
#POSTGRES_USER=admin             # default db user, shouldn't change, admin by default.
#POSTGRES_DB=hyperfixation       # this will probably never change, hyperfixation by default
#POSTGRES_HOST=localhost         # localhost by default. localhost if running locally, <insert supabase info here once I figure it out>
#POSTGRES_PORT=5432              # this in theory won't change either, 5432 by default.
#POSTGRES_LOGGING=true           # false by default. toggle log postgres query info.